/* Eric Meyer's Reset CSS v2.0 - //cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

@media all and (min-device-width:320px) {
  body { font-size: 19px; }
  h1 { font-size: 24px; }
}
@media all and (min-device-width:768px) {
  body { font-size: 19px; }
  h1 { font-size: 26px; }
}
@media all and (min-device-width:1024px) {
  body { font-size:21px; }
  h1 { font-size: 28px; }
}

html, body {
  width:100%;
  height:100%;
}

img {
  max-width: 100%;
}

.container{
  width:100%;
  margin:0 auto;
  overflow: hidden;
  max-width: 1800px;
}

p, div, h1 {
  max-width: 100%;
  overflow-x: auto;
}
body {
  padding-top: 0.8em;
  margin: auto;
  line-height: 1.6em;
  font-family: 'Helvetica Neue', helvetica, sans;
  text-rendering: optimizeLegibility;
  color: #4A525A;
  background: #FEFCFF;
}
h1 {
  font-weight: 300;
  font-family: inherit;
  line-height: inherit;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
  padding-bottom: 0.2em;
  margin-top: 0.4em;
}
a {
  text-decoration: none;
  color: #157DEC;
  border-bottom: thin solid;
  border-bottom-color: #157DEC;
}
p {
  padding: 0!important;
  margin: 0!important;
}
